<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
            aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/"><span class="glyphicon glyphicon-fire"></span> Evac</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li ng-class="{ active: vm.isActive('/floorplan') }"><a href="#/floorplan">Floorplan</a></li>
                <li ng-class="{ active: vm.isActive('/beacons') }"><a href="#/beacons">Beacons</a></li>
                <!--
                <li ng-class="{ active: vm.isActive('/rooms') }"><a href="#/rooms">Rooms</a></li>
                <li ng-class="{ active: vm.isActive('/editrooms') }"><a href="#/editrooms">Edit rooms</a></li>
                -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Rooms <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/rooms">Detected objects</a></li>
                        <li><a href="#/editrooms">Edit rooms</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/login" ng-hide="vm.isLoggedIn()"><span class="glyphicon glyphicon-log-in"></span> Log in</a></li>
                <li><a href="" ng-click="vm.logout()" ng-show="vm.isLoggedIn()"><span class="glyphicon glyphicon-log-in"></span> Log out</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>