<div class="container" style="padding-top: 20px;">
	<p><b>Connection: </b>{{ connectionState }}</p>
	<p><b>RSSI: </b>{{ rssi }}</p>
	<p><b>Distance: </b>{{ distance }}</p>
	<p><b>Time: </b><span am-time-ago="lastUpdate"></span></p>
	<p><b>URL: </b>{{ url }}</p>
</div>

<!--<svg>
    <path fill="none" 
          stroke="#333333"
          stroke-width="3" 
          d="M10,55 C15,5 100,5 100,55" />
</svg>-->

	<div beacon distance="dist" name=""></div>
	<!--<svg height="500" width="10" style="margin-left: 50%;">
  		<line x1="0" y1="0" x2="0" y2="480" style="stroke:rgb(0,0,255);stroke-width:4" />
	</svg>-->