<div class="container" style="padding-top: 20px;">

   <div class="jumbotron">
        <h1>Evac</h1>

        <p class="lead">Quickly locate missing people in a building.</p>

        <p>
            <button class="btn btn-lg btn-success" data-ng-click="login()">Log in</button>
        </p>
    </div>

    <div class="row marketing">
        <div class="col-sm-4 col-md-4 col-lg-4">
            <h4>Find</h4>

            <p>Evac scans for BLE (Bluetooth Low Energy) beacons inside buildings and enables you to locate missing people in case of an emergency.</p>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <h4>Privacy</h4>

            <p>Evac uses authentication so that only safety personnel is allowed to track your position. The beacons are not connected to any of your personal information to ensure privacy.</p>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <h4>Open Source</h4>

            <p>This web app is open source, and can be found at <a
                    href="https://github.com/sandves/evac">Evac</a></p>
        </div>
    </div>

</div>